

@media screen and (max-width: 1200px){
    body {font-size: 85%; }    

    
    .hero_text_box h1 {
        margin-top: 5%;
        font-size: 150%;
        padding-bottom: 3%;
    }
    
    .footer_elements li {
        padding-bottom: 5%;
    }
    

}

@media only screen and (max-width: 1023px){
    body {
        font-size: 80%;
    }
    
    nav ul {
        display: none;
    }
    
    .working-section{
        margin-top: 10%;
    }
    
    .section_cities {
        padding: 2% 2%;
    }
    
    .steps-box:last-child {
        margin-top: -50px;
    }
    

}

@media only screen and (max-width: 767px){


    body {
        font-size: 58%;
    }
    nav ul {
        display: none;
    }
    
    .col    {
        width: 100%;
        
    }
    
    .steps-box:first-child {
        text-align: center;
    }    
    .steps-box:last-child {
        float: clear;
        text-align: center;
    }
    
    .div_plan {
        width: 50%;
        margin: 0 25%;
        margin-bottom: 3%;
    }

    .temoingage_section img {
        width: 16%;
        margin-bottom: 40px;
    }
    
    .section_cities {
        /*padding: 3% 7% 7% 3%;*/

    }
    
    .contact-form input {
        margin-bottom: 4%;
    }   
    
    .hero_text_box a {
        margin-bottom: 10px!important;
    }
    
    h2:after { 
     margin-top: 10px;  
    }
    
    .copyRight {
        margin-bottom: 1%;
    }
    
    .temoingage_section h2 {
        font-size: 150%;
    }
    
    .temoingage_section p {
        line-height: 15px;
    }
    
    .section_cities {
        padding-top: 20px; 
    }
    
    .section_cities ul {
        margin-bottom: 20px;
    }
    
    .section_cities img {
        width: 50%;
    }
    
    .cities {
        margin: 0 25% 5% 25%;
        width: 100%;
    }
    
    .section_cities h2 {
        text-align: center
    }
    
    .temoingage_section {
        margin-top: -30px;
        padding-top: 10px;
    }
    
    work_steps {
        padding: 3px 0;
    }
    
    .work_steps div {
        height: 25px;
        width: 25px;
        padding-top: 0px;
    }
    
    
    
    .work_steps p {
        text-align: left;
    }
    
    .work_steps_last img {
        margin-top: -20px;
        margin-bottom: 20px;
    }
    
    .section_form {
       padding-top: 20px; 
    }
    
    .contact-form {
        margin-top: -15px;
    }
    
    .newsletter {
        margin-top: 10px;
    }
    
    .checkbox {
        margin-top: -7px;
    }
    
    .section_form h2 {
        font-size: 160%;
    }
    
    .div_paragraphe:before {
        top: -25px;
    }
    
}

@media only screen and (max-width: 480px){
    body {
        font-size: 55%;
    }
    
    nav ul {
        display: none;
    }
}
